body {
	margin: 1%;
	font-family: Arial, sans-serif;
}

.content {
	color: #708090;
	background-color: #EFEFEF;
}

h1 {
	font-family: Times New Roman, serif;
}

button {
	font-family: sans-serif;
	font-size: 22px;
	background-color: #b0c4de;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}

button:hover {
	background-color: #58626f;
}

.buttons {
	padding-top: 30vh;
	padding-left: 40vw;
	padding-right: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mainContent {
	padding-left: 5vw;
	padding-right: 5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.question {
	font-size: 34px;
	font-family: Times New Roman, serif;
	margin-bottom: 12px;
}

.answers {
	margin-bottom: 10px;
	text-align: left;
	display: inline-block;
}

.answers label {
	display: block;
	margin-bottom: 10px;
}

.slide {
	position: absolute;
	margin-left: 15%;
	margin-right: 20%;
	padding: 10vh;
	width: 60%;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.5s;
	text-align: center;
	border-radius: 12px;
	box-shadow: 10px 10px 16px #708090;
	background-color: #fff;
}

.activeSlide {
	opacity: 1;
	z-index: 2;
}

.quizContainer {
	position: relative;
	height: 200px;
	margin-top: 40px;
}

.topNav {
  background-color: #b0c4de;
  overflow: hidden;
  height: 8vh;
}

.topNav .dropdown:hover .dropBtn {
  color: #2f6690;
  font-weight: bold;
}

.topNav button.active {
  color: white;
  background-color: #708090;
}

.topNav p {
  text-align: right;
  padding-right: 16px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropBtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
}

/* Links inside the dropdown */
.dropdownContent a {
  float: none;
  color: #58626f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add color to dropdown links on hover */
.dropdownContent a:hover {
  background-color: #EFEFEF;
  color: #2f6690;
  font-weight: bold;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {
  display: block;
}