body {
	margin: 1%;
	margin-right: 2%;
	font-family: Arial, sans-serif;
}

.content {
	color: #708090;
	background-color: #EFEFEF;
}

.topNav {
	background-color: #b0c4de;
	overflow: hidden;
	height: 8vh;
}

.topNav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topNav a:hover {
	color: #58626f;
}

.topNav a.active {
	color: white;
	background-color: #708090;
}

.topNav p {
	text-align: right;
	padding-right: 16px;
}

h1 {
	font-family: Times New Roman, serif;
	color: #2f6690;
}

button {
	font-family: sans-serif;
	font-size: 22px;
	background-color: #b0c4de;
	color: #FFF;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-top: 5vh;
	margin-bottom: 20px;
}

button:hover {
	background-color: #58626f;
}

.mainContent {
	padding-left: 5vw;
	padding-right: 5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img {
	width: 45vw;
}

.imageColumn {
	margin-top: 10vh;
	margin-bottom: 5vh;
	margin-right: 2%;
	float: left;
	width: 48%;
	align-content: center;
	text-align: center;
}

.textColumn {
	margin-top: 5vh;
	margin-bottom: 5vh;
	margin-right: 2%;
	float: left;
	width: 48%;
	align-content: center;
	text-align: center;
}

.imageCaption {
	margin-top: 0vh;
	font-size: .8em;
	font-style: italic;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}